@font-face {
      font-family: 'FF DIN Bold';
      src: url('https://raw.githubusercontent.com/codeforamerica/cbu_philly_styling/master/static/fonts/DIN-Bold.otf');
    }

    @font-face {
      font-family: 'FF DIN Reluglar';
      src: url('https://raw.githubusercontent.com/codeforamerica/cbu_philly_styling/master/static/fonts/DIN-Regular.otf');
    }

    @import url(https://fonts.googleapis.com/css?family=Kaushan+Script:400);
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
      background-color: darkcyan;
      border-radius: 0px;
    }

    .btn:hover {
      color: #333;
    }

    .nav > li > a {
      color: #ccd1d9;
      font-family: FF DIN Bold;
    }
    .nav > li > a:focus, .nav > li > a:hover {
      background-color: #fff0;
      border-radius: 0px;
      color: #d74871;
    }
    .gaya {
      font-family: 'Kaushan Script', handwriting;
    }
    
    a {
      color: white;
    }

    li {
      list-style: none;
    }
    .links {
      padding: 20px 20px;
      border-radius: 0px;
      background-color: rgba(0, 0, 0, 0.7);
      display: inline-block;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      background-color: white;
      color: black;
    }

    .navbar-default .navbar-nav > li > a {
      color: white;
    }

    .search_box {
      background: rgba(0, 0, 0, 0);
    }


    .row.heading h2 {
      color: #fff;
      font-size: 52.52px;
      line-height: 95px;
      font-weight: 400;
      text-align: center;
      margin: 0 0 40px;
      padding-bottom: 20px;
      text-transform: uppercase;
    }
    ul{
      margin:0;
      padding:0;
      list-style:none;
    }
    .heading.heading-icon {
      display: block;
    }
    .padding-lg {
      display: block;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .practice-area.padding-lg {
      padding-bottom: px;
      padding-top: 55px;
    }
    .practice-area .inner{
     border:1px solid #999999;
     text-align:center;
     margin-bottom:28px;
     padding:40px 25px;
   }
   .our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
  }
  .practice-area .inner h3{
    color:#3c3c3c;
    font-size:24px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
  }
  .practice-area .inner p{
    font-size:14px;
    line-height:22px;
    font-weight:400;
  }
  .practice-area .inner img{
    display:inline-block;
  }


  .our-webcoderskull{
    background: url("https://mobirise.com/bootstrap-template/travel-template/assets/images/ben-bowens-104402-2000x1329.jpg") no-repeat center top / cover;

  }
  .our-webcoderskull .cnt-block{
   float:left;
   width:100%;
   background:#fff;
   padding:30px 20px;
   text-align:center;
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
 }
 .our-webcoderskull .cnt-block figure{
   width:148px;
   height:148px;
   border-radius:100%;
   display:inline-block;
   margin-bottom: 15px;
 }
 .our-webcoderskull .cnt-block img{
   width:148px;
   height:148px;
   border-radius:100%;
 }
 .our-webcoderskull .cnt-block h3{
   color:#2a2a2a;
   font-size:20px;
   font-weight:500;
   padding:6px 0;
   text-transform:uppercase;
 }
 .our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
  color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
  color:#337ab7;
}
.our-webcoderskull .cnt-block p{
 color:#2a2a2a;
 font-size:13px;
 line-height:20px;
 font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
  margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{
  display:inline-block;
  width:auto;
  margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
 font-size:24px;
 color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{
 color:#025a8e;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-spacing: 5px;
}

/**/
#slideshow {
  margin: auto auto;
  position: relative;
  width: 100%;
  height: 200px;
  padding: 0px;
}

#slideshow > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;


  /*split*/
  html,body {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
  }

  .quarter{
    width:50%;
    height:100%;
    float:left;
  }
  .contents{
    height:50%;
    width:100%;
  }

  #h9 {
   background-color:#2020ff;
   height:50px;
   position:relative
 }

 #h9:after {
  content:" ";
  width: 0;
  height: 0;
  border-top: 0px solid #ffffff;
  border-bottom: 55px solid transparent;
  border-right:50px solid #ffffff;
  position:absolute;
  top:-9px;
  right:0px;

}
.thumbnail {
  border: none;
}
.thumbnail .caption {
  padding: 0px;
}
.btn-primary {
  border-radius: 0px 0px 8px 8px;
}

/* PAKET */
.media {background:#fff; position:relative; margin-bottom:15px;}
.media img{width:200px;margin:0; height:136px;}
.media-body{border:1px solid #bcbcbc; border-left:0; height:136px;    padding-left: 10px;}
.media .price{float:left; width:100%; font-size:30px;font-weight:600; color:#4765AB;}
.media .price small{display:block; font-size:17px; color:#232323;}
.media .stats{float:left; width:100%; margin-top:10px;}
.media .stats span{float:left; margin-right:10px; font-size:15px;}
.media .stats span i{margin-right:7px; color:#4765AB;}
.media .address{float:left; width:100%;font-size:14px; margin-top:5px; color:#888;}
.media .fav-box{position:absolute; right:10px; font-size:20px; top:4px; color:#E74C3C;}
.listing-block{background:#fff; height:400px; padding-top:20px; overflow-y:scroll;}

.stepwizard-step p {
    margin-top: 10px;
  }

  .process-row {
    display: grid;
  }

  .process-col {
    display: flex;
  }

  .process {
    display: table;
    width: 100%;
    position: relative;
  }

  .process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }

  .process-step {
    display: -webkit-box;
    text-align: left;
    position: relative;
    font-size: 12px;
    font-weight: bold;
  }

  .process-step2 {
   text-align: center;
   position: relative;
   font-size: 12px;
   font-weight: bold;
   width: 50%;
 }

 .process-step p {
  margin-top:10px;

}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50px;
}

.btn-circle2 {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50px;
}

.col-md-3 {
  width: 100%;
}